$body_font:'Raleway', sans-serif;
$hot_pink: #E91E63;
$color_fondo: #fff;
$body_color: #F0F0F0;
$tabla_gris: #999999;
$transparente: transparent;
$pos_abs: absolute;
$nada: none;
$zero: 0;
$treinta: 30px;
$subtitulo_gris: #999;
$color_footer: #323437;s
